body {
    padding: 0;
    margin: 0;

}
.main-img-container
{
    background-image: url('C:/Users/User/Desktop/sefactory.io-HTML-CSS/assets/bg.jpg') ;
    background-repeat: no-repeat;
    background-attachment:local;
    background-size: 900;
   
}
.img-bg-container 
{
    border: solid;
    display: flex;

    
}


.img-bg-container > div 
{
  
    height: fit-content;
    width:fit-content;
    
    
}
.img-bg-container > div > ul
{   
    width: 100%;
    list-style-type:none;
    overflow: hidden;
    background-color:transparent;
    padding-top:20px ;
    padding-left:50px ;
   
}

.img-bg-container > div > ul > li
{   
    display: inline;
    font-family:sans-serif;
    font-weight: bold;
    background-color:transparent;
    text-decoration: none;
    list-style: none;
    
    
}


.img-bg-container > div > ul > li > a
{
    text-decoration: none;
    padding-right: 30px;
    color: whitesmoke;
    font-size: 12pt;
}
.img-bg-container > div > ul > li > a:hover{
    text-decoration: underline;

}
.img-bg-container > div > img 
{   
    padding-left: 92px;
    padding-top: 12px;
    padding-right: 270px;
    width: 80px ;
    height: auto;
    
}
.btns {
    width: 100px;
    height: 40px;
    border-radius: 7%;
    background-color:#00dd00;
    border: 0;
    color: whitesmoke;
    font-family:sans-serif;
    font-weight: bold;
    font-size: 11pt;
}
.btns-1 {
    width: 130px;
    height: 50px;
    border-radius: 7%;
    background-color:#00dd00;
    border: 0;
    color: whitesmoke;
    font-family:sans-serif;
    font-weight: bold;
    font-size: 15pt;
}

.stats-container  > div.intro >div.stats
{
    text-align:center;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20pt;
}
.stats-container 
{
    border: solid;
    display: flex;  
    justify-content:space-around;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px;
}
.stats-container  > div.intro >div
{
    flex-direction: column;
    width:auto;
    border:solid;
    padding-top: 20px;
}

.stats-container  > div.intro >div>a:link
{
    color: #00dd00;
    font-size: 16pt;
    font-family: sans-serif;
    padding-left: 60px;
    
}
.stats-container  > div.intro >div>a:visited
{
    color: #00dd00;
    font-size: 16pt;
    font-family: sans-serif;
    padding-left: 60px;
}

.green-container {
   
    border: solid; 
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px;
    background-color: #00dd00;
    height:650px;
 
}

.green-container >div.green-div
{
    display: flex;
    height:fit-content;
    justify-content:center;
    
}
.green-container >div.green-div >div{   
    
    width:auto;
    border:solid;
    padding-right: 50px;

 
}
.green-container >div.green-div >div >div.sticker-left{
    background-color: white;
    border-radius: 7%;
    box-shadow: 5px 5px 0 #00dd00, 10px 10px 0 black;
    flex-direction: column;
    width: 340px;
}
.green {
    color:#00dd00;

}
.green-container >div.green-div >div >div.sticker-right{
    background-color: white;
    border-radius: 7%;
    box-shadow: 5px 5px 0 #00dd00, 10px 10px 0 rgb(19, 151, 41);
    flex-direction: column;
    width: 340px;
}
.grey-slip {
   
    border: solid; 
    background-color: rgb(236, 236, 236);
    height:max-content;
 
}
.grey-slip > .grey-container{
    display: flex;
    justify-content: space-around;
}

.grey-slip > .grey-container > div{ 

    text-align: center;
    font-size: 32pt;
    font-family: sans-serif;
    padding-bottom: 30px;

}
.grey-slip > .grey-container > div> a 
{ 
   text-decoration: none;
    
}
    
.btns-2 {
        width: 130px;
        height: 50px;
        border-radius: 7%;
        background-color:black;
        border: 0;
        color: whitesmoke;
        font-family:sans-serif;
        font-weight: bold;
        font-size: 15pt;
    }
footer {
    display: flex;
    background-color: black;
    padding: 30px;
    font-family: sans-serif;
    font-size: large;
    color: whitesmoke;
    justify-content: space-around;
}
footer > div> a:link 
{
    color:#00dd00;
    text-decoration: none;
    
}

footer >div> a:visited
{
    color:#00dd00
}


